In [ ]:
#oops: object oriented programs
#OOPS-> OBJECT ORIENTED PROGRAMMING LANGUAGE. (DATA STRUCTUES AND PROGRAMMING)
#OBJECT-->REAL LIFE/TIME ENTITY
#OOPS IS A  METHODOLGY TO DESIGN A PROGRAM USING CLASSES AND OBJECT
#CLASSES
#OBJECT
#SELF
#CONSTRUCTORS
# 4 PILLARS OF OOPS
#1 ENCAPSULATION
#2 INHERITANCE
#3 POLYMORPHISM
#4 ABSTRACTION

In [1]:
def fun1():
    print("python is great")

In [2]:
fun1()

python is great

In [3]:
def fun2(a):
    print(a," is good")

In [4]:
fun2(23)

23  is good

In [5]:
fun2("aikum")

aikum  is good

In [7]:
def fun3(a,b):
    print(a+b)

In [8]:
fun3(2,5)

7

In [9]:
def fun4(a,b):
    return a+b

In [11]:
a=fun4(5,6)

In [12]:
a

11

In [13]:
print(a*3)

33

In [15]:
b=fun3(4,5)

9

In [16]:
b

In [24]:
def loop(a):
    for i in range (1,11):
        print(a,"X",i, "=", (a*i))

In [25]:
loop(6)

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [26]:
loop(78)

78 X 1 = 78
78 X 2 = 156
78 X 3 = 234
78 X 4 = 312
78 X 5 = 390
78 X 6 = 468
78 X 7 = 546
78 X 8 = 624
78 X 9 = 702
78 X 10 = 780

In [54]:
def table(a):
    results=[]
    for i in range (1,11):
        results.append(i*a)
    return results

In [55]:
bb=table(4)

In [56]:
bb

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [57]:
def dec(a):
    if a > 5:
        print("good")
    else:
        print("its bad")

In [59]:
dec(6)

good

In [62]:
def vote():
    age=int(input())
    if age >=18 and age <=30:
        print("you are adult")
    elif age >=31 and age <=45:
        print ("mature")
    elif age >=46 and age <=60:
        print("old")
    elif age >= 61:
        print("grandpa")
    else:
        print ("kiddo")

In [64]:
vote()

 77

grandpa

In [65]:
def vote1(age):
    if age >=18 and age <=30:
        print("you are adult")
    elif age >=31 and age <=45:
        print ("mature")
    elif age >=46 and age <=60:
        print("old")
    elif age >= 61:
        print("grandpa")
    else:
        print ("kiddo")

In [66]:
vote1(46)

old

In [76]:
class pink:
    x=23
    y=45
    def printt(self):
        print("i am king")
    def show(self,a):
        print("this is var: ",a)

In [79]:
ad=pink()

In [72]:
ad.printt()

i am king

In [75]:
ad.show(34)

this is var:  34

In [80]:
ad.x

23

In [81]:
ad.y

45

In [82]:
ad.x*ad.y

1035

In [83]:
x=33
y=12

In [84]:
ad.x*x

759

In [ ]:
# Wrapping all your data into a single unit is known as encapsulation.

In [115]:
class ring:
    def __init__(self, a, b , c , d):  #constructor
        self.a=a
        self.b=b
        self.c=c
        self.d=d
    def cal(self,x):
        print(self.a+self.b+x)
    def cal2(self,y):
        print(self.a+self.c*y)
    def shw(self):
        print(self.d)

In [116]:
lol=ring(2,3,4,"tower")

In [117]:
lol.cal(34)

39

In [118]:
lol.cal2(56)

226

In [108]:
lol.shw()

tower

In [124]:
class we:
    def parrot(self):
        print("i am parrot")

In [125]:
class us(we):
    def bird(self):
        print("i ama bird")

In [126]:
oops=us()

In [127]:
oops.bird()

i ama bird

In [128]:
oops.parrot()

i am parrot

In [133]:
ra=we()

In [134]:
ra.parrot()

i am parrot

In [142]:
class our:
    def red(self):
        print("color")

In [146]:
class family(we, our):
    def sports(self):
        print("football")

In [147]:
hhh=family()

In [149]:
hhh.sports()

football

In [84]:
class bankaccount:
    def __init__(self, name, balance=0):
        self.name=name
        self.balance=balance
        self.transactions=[]
        self.transactions.append(f"Name:-{name}")
        self.transactions.append(f"opening Balance:- {balance}")
        print("welcome to bank")
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
        else:
            print("amount must be positive")
        self.transactions.append(f"deposit: {amount} balance:- {self.balance}")
    def withdraw(self, amount):
        if amount < self.balance :
            self.balance -= amount
        else:
            print("not suficient balance")
        self.transactions.append(f"withdraw: {amount}  balance:- {self.balance}")
    def viewbalance(self):
        print(self.name, self.balance)
    def transaction(self):
        for i in self.transactions:
            print(i)

In [62]:
aikum=bankaccount('aikum', 100)

welcome to bank

In [63]:
aikum.viewbalance()

aikum 100

In [64]:
aikum.deposit(250)

In [65]:
aikum.viewbalance()

aikum 350

In [66]:
aikum.withdraw(199)

In [67]:
aikum.viewbalance()

aikum 151

In [68]:
aikum.transaction()

Name:-aikum
Balance:- 100
deposit: 250 balance:- 350
withdraw: 199  balance:- 151

In [69]:
tom=bankaccount("tom", 500)

welcome to bank

In [70]:
tom.transaction()

Name:-aikum
Balance:- 100
deposit: 250 balance:- 350
withdraw: 199  balance:- 151
Name:-tom
Balance:- 500

In [85]:
del tom

In [86]:
tom=bankaccount("tom", 500)

welcome to bank

In [87]:
tom.transaction()

Name:-tom
opening Balance:- 500

In [88]:
tom.deposit(350)

In [89]:
tom.withdraw(29)

In [90]:
tom.withdraw(35)

In [91]:
tom.deposit(300)

In [92]:
tom.transaction()

Name:-tom
opening Balance:- 500
deposit: 350 balance:- 850
withdraw: 29  balance:- 821
withdraw: 35  balance:- 786
deposit: 300 balance:- 1086

In [93]:
# operators 
# conditional operators
# loops

In [94]:
a=10
while(a<20):
    print(a)
    a+=1

10
11
12
13
14
15
16
17
18
19

In [95]:
while True:
    a=input()
    if a == "exit":
        break

 hello
 exit

In [97]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [98]:
# oops
# create class
# object
# abstraction

In [99]:
from abc import ABC , abstractmethod

In [101]:
class animal(ABC):
    @abstractmethod
    def sound(self):
        pass
    @abstractmethod
    def move(self):
        pass

In [119]:
class zebra(animal):
    def sound(self):
        print("hehehe")
    def move(self):
        print("run")

In [120]:
zebra.sound("hehehe")

hehehe

In [121]:
class hen(animal):
    def king(self):
        print("i am king")

In [122]:
egg=hen()

TypeError: Can't instantiate abstract class hen without an implementation for abstract methods 'move', 'sound'