In [1]:
#loops
#for loop
#while loop

In [2]:
for i in range (10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [4]:
for i in range (5, 10, 2):
    print(i)

5
7
9

In [5]:
for i in range (20, 5, -1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6

In [6]:
for i in range (1,11):
    print(2,'X', i, '=', (i*2))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [10]:
for i in range (2,11):
    for j in range (1,11):
        print(i, 'X', j, '=', (i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [13]:
for i in range (1,20):
    if i % 2 ==1:
        print(i, ' is odd')

1  is odd
3  is odd
5  is odd
7  is odd
9  is odd
11  is odd
13  is odd
15  is odd
17  is odd
19  is odd

In [14]:
word=input()
for char in word:
    print(char)

 kingdom

k
i
n
g
d
o
m

In [15]:
fruits=['apple', 'grapes', 'cherries']

In [16]:
for i in fruits:
    print(i)

apple
grapes
cherries

In [17]:
for i in range (20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [20]:
for i in range (20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [21]:
for i in range (20):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************

In [22]:
for i in range(20, 0, -1):
    print('*'*i)

********************
*******************
******************
*****************
****************
***************
**************
*************
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [27]:
rows=20
for i in range (1, rows):
    print(' ' *(rows-i)+'*'*i)

                   *
                  **
                 ***
                ****
               *****
              ******
             *******
            ********
           *********
          **********
         ***********
        ************
       *************
      **************
     ***************
    ****************
   *****************
  ******************
 *******************

In [28]:
rows=20
for i in range (rows, 0, -1):
    print(' ' *(rows-i)+'*'*i)

********************
 *******************
  ******************
   *****************
    ****************
     ***************
      **************
       *************
        ************
         ***********
          **********
           *********
            ********
             *******
              ******
               *****
                ****
                 ***
                  **
                   *

In [29]:
rows=20
for i in range (1, rows):
    print(' ' *(rows-i)+'*'*i)
for i in range (rows, 0, -1):
    print(' ' *(rows-i)+'*'*i)

                   *
                  **
                 ***
                ****
               *****
              ******
             *******
            ********
           *********
          **********
         ***********
        ************
       *************
      **************
     ***************
    ****************
   *****************
  ******************
 *******************
********************
 *******************
  ******************
   *****************
    ****************
     ***************
      **************
       *************
        ************
         ***********
          **********
           *********
            ********
             *******
              ******
               *****
                ****
                 ***
                  **
                   *

In [30]:
rows=20
for i in range(1, rows+1):
    print(' '*(rows-i)+'*'*(2*i-1))

                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************
          *******************
         *********************
        ***********************
       *************************
      ***************************
     *****************************
    *******************************
   *********************************
  ***********************************
 *************************************
***************************************

In [31]:
rows=20
for i in range(rows,0,-1):
    print(' '*(rows-i)+'*'*(2*i-1))

***************************************
 *************************************
  ***********************************
   *********************************
    *******************************
     *****************************
      ***************************
       *************************
        ***********************
         *********************
          *******************
           *****************
            ***************
             *************
              ***********
               *********
                *******
                 *****
                  ***
                   *

In [32]:
rows=20
for i in range(1, rows+1):
    print(' '*(rows-i)+'*'*(2*i-1))
for i in range(rows,0,-1):
    print(' '*(rows-i)+'*'*(2*i-1))

                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************
          *******************
         *********************
        ***********************
       *************************
      ***************************
     *****************************
    *******************************
   *********************************
  ***********************************
 *************************************
***************************************
***************************************
 *************************************
  ***********************************
   *********************************
    *******************************
     *****************************
      ***************************
       *************************
        ***********************
         *********************
          *******************
           *****************
            ***************
             *************
              ***********
               *********
                *******
                 *****
                  ***
                   *

In [38]:
n=20
for i in range(n):
    for j in range(n):
        if i == 0 or i == n -1 or j==0 or j==n-1:
            print('*', end='')
        else:
            print(' ', end='')
    print()

********************
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
********************

In [43]:
num=int(input('enter number'))
if num<2:
    print('not prime')
else:
    for i in range(2,num):
        if num%i==0:
            print('not prime')
            break
    else:
        print('prime')

enter number 39

not prime

In [45]:
text=input('enter text')
rev=''
for ch in text:
    rev=ch+rev
if text==rev:
    print('palindrome')
else:
    print('not palindrome')

enter text hitesh

not palindrome

In [48]:
word=input()
vowels='aeiou'
vc=cc=0
for ch in word:
    if ch.isalpha():
        if ch in vowels:
            vc+=1
        else:
            cc+=1
print('vowels are: ', vc)
print('consonants are: ',cc)

 there were 2 parrots on the tree

vowels are:  10
consonants are:  15

In [49]:
n=int(input('no of terms'))
a,b=0,1
print(a,b, end=' ')
for i in range (n):
    c=a+b
    print(c, end=' ')
    a,b=b,c

no of terms 5

0 1 1 2 3 5 8

In [53]:
int1=int(input('start'))
int2=int(input('end'))
for num in range(int1, int2, 1):
    if int1>=1:
        for i in range(2, num):
            if num%i==0:
                break
        else:
              print(num)

start 1
end 99

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97