In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range (2, 11):
    print(i)

2
3
4
5
6
7
8
9
10

In [3]:
for i in range (0, 20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [4]:
for i in range (10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [7]:
for i in range (1,11):
    print(2,'X',i, '=', (i*2))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [9]:
for i in range (1,20):
    if i % 2 == 0:
        print('even ', i)

even  2
even  4
even  6
even  8
even  10
even  12
even  14
even  16
even  18

In [10]:
word = 'python'
for i in word:
    print(i)

p
y
t
h
o
n

In [11]:
list1=['apple', 'banana', 'cherry', 'berry']

In [12]:
for i in list1:
    print(i)

apple
banana
cherry
berry

In [20]:
for i in range (1,200):
    if i % 13 == 0:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12

In [21]:
for i in range(0,20):
    if i % 2==1:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [28]:
for i in range(20):
    print('*'*i)
for i in range(20,0,-1):
    print('*'* i)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*******************
******************
*****************
****************
***************
**************
*************
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [30]:
rows=20
for i in range (1,rows):
    print(' ' *(rows-i)+'*'*i )

                   *
                  **
                 ***
                ****
               *****
              ******
             *******
            ********
           *********
          **********
         ***********
        ************
       *************
      **************
     ***************
    ****************
   *****************
  ******************
 *******************

In [41]:
rows=20
for i in range (rows,0,-1):
    print(' ' *(rows-i)+'*'*i )

********************
 *******************
  ******************
   *****************
    ****************
     ***************
      **************
       *************
        ************
         ***********
          **********
           *********
            ********
             *******
              ******
               *****
                ****
                 ***
                  **
                   *

In [34]:
rows = 20
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************
          *******************
         *********************
        ***********************
       *************************
      ***************************
     *****************************
    *******************************
   *********************************
  ***********************************
 *************************************
***************************************

In [39]:
rows = 15
for i in range(rows,0 ,- 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

*****************************
 ***************************
  *************************
   ***********************
    *********************
     *******************
      *****************
       ***************
        *************
         ***********
          *********
           *******
            *****
             ***
              *

In [40]:
rows = 20
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))
for i in range(rows,0 ,- 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************
          *******************
         *********************
        ***********************
       *************************
      ***************************
     *****************************
    *******************************
   *********************************
  ***********************************
 *************************************
***************************************
***************************************
 *************************************
  ***********************************
   *********************************
    *******************************
     *****************************
      ***************************
       *************************
        ***********************
         *********************
          *******************
           *****************
            ***************
             *************
              ***********
               *********
                *******
                 *****
                  ***
                   *

In [47]:
rows = 9
for i in range(1, rows + 1):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [45]:
n = 20
for i in range(n):
    for j in range(n):
        if i == 0 or i == n - 1 or j == 0 or j == n - 1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

********************
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
********************

In [44]:
rows = 20
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        if j == 1 or j == i or i == rows:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*
**
* *
*  *
*   *
*    *
*     *
*      *
*       *
*        *
*         *
*          *
*           *
*            *
*             *
*              *
*               *
*                *
*                 *
********************

In [48]:
#while

In [49]:
i = 1
while i <= 5:
    print("Hello", i)
    i += 1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [50]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [51]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [52]:
i = 2
while i <= 20:
    print(i)
    i += 2

2
4
6
8
10
12
14
16
18
20

In [54]:
password = ""
while password != "admin123":
    password = input("Enter password: ")
print("Login successful")

Enter password:  sdsdsd
Enter password:  defe
Enter password:  admin123

Login successful

In [55]:
i = 1
while i <= 5:
    if i == 3:
        break
    print(i)
    i += 1

1
2

In [56]:
i = 0
while i < 5:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5

In [57]:
while True:
    print("Running...")
    break  # Use Ctrl+C if not breaking

Running...

In [58]:
n = int(input("Enter a number: "))
i = 1
total = 0
while i <= n:
    total += i
    i += 1
print("Sum =", total)

Enter a number:  25

Sum = 325

In [59]:
i = 1
while i <= 5:
    print("*" * i)
    i += 1

*
**
***
****
*****

In [60]:
i = 1
rows = 5
while i <= rows:
    print(" " * (rows - i) + "*" * i)
    i += 1

    *
   **
  ***
 ****
*****

In [61]:
i = 5
while i >= 1:
    print(" " * (5 - i) + "*" * (2 * i - 1))
    i -= 1

*********
 *******
  *****
   ***
    *