In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range (2, 11):
    print(i)

2
3
4
5
6
7
8
9
10

In [3]:
for i in range (0, 20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [4]:
for i in range (10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [7]:
for i in range (1,11):
    print(2,'X',i, '=', (i*2))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [9]:
for i in range (1,20):
    if i % 2 == 0:
        print('even ', i)

even  2
even  4
even  6
even  8
even  10
even  12
even  14
even  16
even  18

In [10]:
word = 'python'
for i in word:
    print(i)

p
y
t
h
o
n

In [11]:
list1=['apple', 'banana', 'cherry', 'berry']

In [12]:
for i in list1:
    print(i)

apple
banana
cherry
berry

In [20]:
for i in range (1,200):
    if i % 13 == 0:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12

In [21]:
for i in range(0,20):
    if i % 2==1:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [28]:
for i in range(20):
    print('*'*i)
for i in range(20,0,-1):
    print('*'* i)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*******************
******************
*****************
****************
***************
**************
*************
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [30]:
rows=20
for i in range (1,rows):
    print(' ' *(rows-i)+'*'*i )

                   *
                  **
                 ***
                ****
               *****
              ******
             *******
            ********
           *********
          **********
         ***********
        ************
       *************
      **************
     ***************
    ****************
   *****************
  ******************
 *******************

In [31]:
rows=20
for i in range (rows,1,-1):
    print(' ' *(rows-i)+'*'*i )

********************
 *******************
  ******************
   *****************
    ****************
     ***************
      **************
       *************
        ************
         ***********
          **********
           *********
            ********
             *******
              ******
               *****
                ****
                 ***
                  **

In [34]:
rows = 20
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************
          *******************
         *********************
        ***********************
       *************************
      ***************************
     *****************************
    *******************************
   *********************************
  ***********************************
 *************************************
***************************************

In [35]:
rows = 20
for i in range(rows,1 ,- 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

***************************************
 *************************************
  ***********************************
   *********************************
    *******************************
     *****************************
      ***************************
       *************************
        ***********************
         *********************
          *******************
           *****************
            ***************
             *************
              ***********
               *********
                *******
                 *****
                  ***

In [36]:
rows = 20
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))
for i in range(rows,1 ,- 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************
          *******************
         *********************
        ***********************
       *************************
      ***************************
     *****************************
    *******************************
   *********************************
  ***********************************
 *************************************
***************************************
***************************************
 *************************************
  ***********************************
   *********************************
    *******************************
     *****************************
      ***************************
       *************************
        ***********************
         *********************
          *******************
           *****************
            ***************
             *************
              ***********
               *********
                *******
                 *****
                  ***