In [7]:
import time
import random

In [7]:
for i in range(1,4):
    print(2,"X", i, "=", (i*2))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6

In [19]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [20]:
name='python'
for ch in name:
    print(ch)

p
y
t
h
o
n

In [37]:
list1=['king', 'queen', 'ram', 'sita', 'roger', 'paul']
a=1
for i in list1:
    print(a,i)
    a+=1

1 king
2 queen
3 ram
4 sita
5 roger
6 paul

In [8]:
for i in range(2, 11):
    for j in range(1,11):
        print(i,"X",j,"=",(i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [34]:
for i in range (1,10):
    print(i, end=" ")
    for j in range (1, 10):
        print("*", end=' ')
    print()

1 * * * * * * * * *
2 * * * * * * * * *
3 * * * * * * * * *
4 * * * * * * * * *
5 * * * * * * * * *
6 * * * * * * * * *
7 * * * * * * * * *
8 * * * * * * * * *
9 * * * * * * * * *

In [38]:
list1=['king', 'queen', 'ram', 'sita', 'roger', 'paul']
list2=['rings', 'sheen', 'ram', 'sita', 'roger', 'paul']
list3=['sang', 'pen', 'ram', 'sita', 'roger', 'paul']
list4=['slings', 'when', 'ram', 'sita', 'roger', 'paul']
list5=['binge', 'queen', 'ram', 'sita', 'roger', 'paul']
list6=[list1, list2, list3, list4, list5]

In [40]:
a=1
for i in list6:
    print(a, i)
    a+=1

1 ['king', 'queen', 'ram', 'sita', 'roger', 'paul']
2 ['rings', 'sheen', 'ram', 'sita', 'roger', 'paul']
3 ['sang', 'pen', 'ram', 'sita', 'roger', 'paul']
4 ['slings', 'when', 'ram', 'sita', 'roger', 'paul']
5 ['binge', 'queen', 'ram', 'sita', 'roger', 'paul']

In [51]:
for i in range (1,6):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [93]:
for i in range (1,7):
    for j in range(i):
        print('*', end=' ')
    print()
for i in range (5,0, -1):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [85]:
n=5
for i in range (1, n+1):
    for space in range (n-i):
        print(' ', end=' ')
    for star in range(i):
        print('*', end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [90]:
n=5
for i in range (n, 0, -1):
    for space in range (n-i):
        print(' ', end=' ')
    for star in range(i):
        print('*', end=' ')
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [92]:
n=5
m=4
for i in range (1, n+1):
    for space in range (n-i):
        print(' ', end=' ')
    for star in range(i):
        print('*', end=' ')
    print()
for i in range (m, 0, -1):
    for space in range (n-i):
        print(' ', end=' ')
    for star in range(i):
        print('*', end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [98]:
for i in range (1,5):
    for j in range(1,i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [99]:
for i in range (1,5):
    for j in range(1,i+1):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [101]:
num=1
for i in range (1,5):
    for j in range(i):
        print(num, end=' ')
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10

In [102]:
n = 4
for i in range(1, n + 1):
    print(" " * (n - i), end="")
    print("* " * i)

   *
  * *
 * * *
* * * *

In [103]:
n = 4
for i in range(n, 0, -1):
    print(" " * (n - i), end="")
    print("* " * i)

* * * *
 * * *
  * *
   *

In [105]:
n = 5
m=4
for i in range(1, n + 1):
    print(" " * (n - i), end="")
    print("* " * i)
for i in range(m, 0, -1):
    print(" " * (n - i), end="")
    print("* " * i)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [106]:
n=1
while n <=5 :
    print(n)
    n+=1

1
2
3
4
5

In [111]:
password=''
while password != '123456':
    print('enter correct password')
    password=input()
print('access granted')

enter correct password

 12345

enter correct password

 123456

access granted

In [120]:
i=int(input())
while i > -1:
    print(i)
    time.sleep(1)
    i-=1
print('kaboom')

 5

5
4
3
2
1
0
kaboom

In [1]:
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [2]:
for i in range(1, 10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [3]:
i = 1
while i <= 10:
    if i == 6:
        break
    print(i)
    i += 1

1
2
3
4
5

In [5]:
for i in range(1, 11):
    if i % 2 != 1:
        continue
    print(i)

1
3
5
7
9

In [18]:
while True:
    secret = random.randint(1,6)
    guess = int(input("Guess number: "))
    if guess == secret:
        print("Correct!")
        break

Guess number:  5
Guess number:  5
Guess number:  5
Guess number:  5
Guess number:  5
Guess number:  5
Guess number:  5

Correct!

In [33]:
sec=random.randint(1,6)
print(sec)

6

In [35]:
attempts = 0

while attempts < 3:
    pwd = input("Password: ")
    if pwd == "admin":
        print("Login Success")
        break
    attempts += 1
else:
    print("Account Locked")

Password:  admin

Login Success