In [1]:
import pandas as pd

In [2]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
s1 = pd.Series([10, 20, 30, 40])
print(s1)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
s2 = pd.Series([1.5, 2.5, 3.5], index=['a','b','c'])
print(s2)

a   1.50
b   2.50
c   3.50
dtype: float64

In [5]:
data = {'apple': 50, 'banana': 30, 'cherry': 20}
s3 = pd.Series(data)
print(s3)

apple     50
banana    30
cherry    20
dtype: int64

In [6]:
print(s1[1])     # 20
print(s1[1:3])   # slice at positions 1 and 2

20
1    20
2    30
dtype: int64

In [7]:
print(s2['b'])    # 2.5
print(s2[['a','c']])

2.5
a   1.50
c   3.50
dtype: float64

In [8]:
print(s1[s1 > 25])  
# only values > 25: positions 2 and 3

2    30
3    40
dtype: int64

In [9]:
print(s3.loc['banana'])   # 30
print(s3.iloc[0:2])       # first two entries

30
apple     50
banana    30
dtype: int64

In [10]:
s1_plus5 = s1 + 5
print(s1_plus5)

0    15
1    25
2    35
3    45
dtype: int64

In [11]:
fruits = pd.Series(['apple','banana','cherry'])
print(fruits.str.upper())

0     APPLE
1    BANANA
2    CHERRY
dtype: object

In [12]:
print(s1.mean(), s1.sum(), s1.std(), s1.max())

25.0 100 12.909944487358056 40

In [13]:
s4 = pd.Series([1,2,2,3,3,3])
print(s4.value_counts())    # frequency of each unique value

3    3
2    2
1    1
Name: count, dtype: int64

In [14]:
data = {
    'Name':    ['Alice', 'Bob', 'Charlie'],
    'Age':     [25, 30, 35],
    'Score':   [85.5, 92.0, 88.0],
}
df1 = pd.DataFrame(data)
print(df1)

      Name  Age  Score
0    Alice   25  85.50
1      Bob   30  92.00
2  Charlie   35  88.00

In [15]:
records = [
    {'Name':'Alice',   'Score':85.5},
    {'Name':'Bob',     'Score':92.0},
    {'Name':'Charlie', 'Age':35},
]
df2 = pd.DataFrame(records)
print(df2)

      Name  Score   Age
0    Alice  85.50   NaN
1      Bob  92.00   NaN
2  Charlie    NaN 35.00

In [16]:
import numpy as np
arr = np.arange(6).reshape(3,2)
df3 = pd.DataFrame(arr, columns=['X','Y'])
print(df3)

   X  Y
0  0  1
1  2  3
2  4  5

In [17]:
# CSV
honey = pd.read_csv('US_honey_dataset_updated.csv')

In [18]:
# Excel
df_xlsx = pd.read_excel('data.xlsx', sheet_name='Sheet1')

# JSON
df_json = pd.read_json('data.json')

FileNotFoundError: [Errno 2] No such file or directory: 'data.xlsx'

In [19]:
df = honey  # use one of the created DataFrames
print(df.head(3))     # first 3 rows
print(df.tail(2))     # last 2 rows

   Unnamed: 0     state  colonies_number  yield_per_colony  production  \
0           0   Alabama            16000                58      928000
1           1   Arizona            52000                79     4108000
2           2  Arkansas            50000                60     3000000

   stocks  average_price  value_of_production  year
0   28000          62.00               575000  1995
1  986000          68.00              2793000  1995
2  900000          64.00              1920000  1995
      Unnamed: 0      state  colonies_number  yield_per_colony  production  \
1113        1113  Wisconsin            42000                47      750000
1114        1114    Wyoming            38000                58      242000

      stocks  average_price  value_of_production  year
1113  750000           2.81              5547000  2021
1114  242000           2.07              4562000  2021

In [20]:
print(df.shape)       # (rows, columns)
print(df.columns)     # Index of column names
print(df.dtypes)      # Data types of each column

(1115, 9)
Index(['Unnamed: 0', 'state', 'colonies_number', 'yield_per_colony',
       'production', 'stocks', 'average_price', 'value_of_production', 'year'],
      dtype='object')
Unnamed: 0               int64
state                   object
colonies_number          int64
yield_per_colony         int64
production               int64
stocks                   int64
average_price          float64
value_of_production      int64
year                     int64
dtype: object

In [21]:
print(df.info())      # non-null counts & dtypes
print(df.describe())  # numeric stats: count, mean, std, min/max, quartiles

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1115 non-null   int64
 1   state                1115 non-null   object
 2   colonies_number      1115 non-null   int64
 3   yield_per_colony     1115 non-null   int64
 4   production           1115 non-null   int64
 5   stocks               1115 non-null   int64
 6   average_price        1115 non-null   float64
 7   value_of_production  1115 non-null   int64
 8   year                 1115 non-null   int64
dtypes: float64(1), int64(7), object(1)
memory usage: 78.5+ KB
None
       Unnamed: 0  colonies_number  yield_per_colony  production      stocks  \
count     1115.00          1115.00           1115.00     1115.00     1115.00
mean       557.00         62438.57             59.74  2851268.16  1172625.11
std        322.02         92648.18             19.94  5561202.14  2049555.67
min          0.00          2000.00             19.00    12000.00     9000.00
25%        278.50          9000.00             45.00   246000.00   112500.00
50%        557.00         26000.00             57.00   828000.00   370000.00
75%        835.50         69000.00             71.00  2700000.00  1253500.00
max       1114.00        550000.00            155.00 39060000.00 13545000.00

       average_price  value_of_production    year
count        1115.00              1115.00 1115.00
mean          140.62           5667411.66 2007.74
std           107.01           9459460.46    7.82
min             1.30            106000.00 1995.00
25%            70.00           1008000.00 2001.00
50%           128.00           2281000.00 2008.00
75%           193.00           5704000.00 2015.00
max           874.00          83859000.00 2021.00

In [22]:
print(df.index)       # row labels (0,1,…)
print(df.columns)     # column labels

RangeIndex(start=0, stop=1115, step=1)
Index(['Unnamed: 0', 'state', 'colonies_number', 'yield_per_colony',
       'production', 'stocks', 'average_price', 'value_of_production', 'year'],
      dtype='object')

In [23]:
# If you have a categorical column:
print(df['state'].unique())        # array of unique ages
print(df['state'].value_counts())  # frequency of each age

['Alabama' 'Arizona' 'Arkansas' 'California' 'Colorado' 'Florida'
 'Georgia' 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas'
 'Kentucky' 'Louisiana' 'Maine' 'Maryland' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'NewJersey'
 'NewMexico' 'NewYork' 'NorthCarolina' 'NorthDakota' 'Ohio' 'Oklahoma'
 'Oregon' 'Pennsylvania' 'SouthCarolina' 'SouthDakota' 'Tennessee' 'Texas'
 'Utah' 'Vermont' 'Virginia' 'Washington' 'WestVirginia' 'Wisconsin'
 'Wyoming']
state
Alabama          27
Missouri         27
Arizona          27
NewJersey        27
NewYork          27
NorthCarolina    27
NorthDakota      27
Ohio             27
Oregon           27
Pennsylvania     27
SouthDakota      27
Tennessee        27
Texas            27
Utah             27
Vermont          27
Virginia         27
Washington       27
WestVirginia     27
Wisconsin        27
Montana          27
Nebraska         27
Mississippi      27
Minnesota        27
Arkansas         27
California       27
Colorado         27
Florida          27
Georgia          27
Hawaii           27
Idaho            27
Illinois         27
Indiana          27
Iowa             27
Kansas           27
Louisiana        27
Maine            27
Michigan         27
Wyoming          27
Kentucky         26
NewMexico        18
Nevada           15
SouthCarolina    12
Oklahoma          9
Maryland          9
Name: count, dtype: int64

In [24]:
df = pd.read_csv('US_honey_dataset_updated.csv')
print("Shape:", df.shape)
print("Columns:", df.columns)
print("Dtypes:\n", df.dtypes)
print(df.head())
print(df.describe())

Shape: (1115, 9)
Columns: Index(['Unnamed: 0', 'state', 'colonies_number', 'yield_per_colony',
       'production', 'stocks', 'average_price', 'value_of_production', 'year'],
      dtype='object')
Dtypes:
 Unnamed: 0               int64
state                   object
colonies_number          int64
yield_per_colony         int64
production               int64
stocks                   int64
average_price          float64
value_of_production      int64
year                     int64
dtype: object
   Unnamed: 0       state  colonies_number  yield_per_colony  production  \
0           0     Alabama            16000                58      928000
1           1     Arizona            52000                79     4108000
2           2    Arkansas            50000                60     3000000
3           3  California           420000                93    39060000
4           4    Colorado            45000                60     2700000

    stocks  average_price  value_of_production  year
0    28000          62.00               575000  1995
1   986000          68.00              2793000  1995
2   900000          64.00              1920000  1995
3  4687000          60.00             23436000  1995
4  1404000          68.00              1836000  1995
       Unnamed: 0  colonies_number  yield_per_colony  production      stocks  \
count     1115.00          1115.00           1115.00     1115.00     1115.00
mean       557.00         62438.57             59.74  2851268.16  1172625.11
std        322.02         92648.18             19.94  5561202.14  2049555.67
min          0.00          2000.00             19.00    12000.00     9000.00
25%        278.50          9000.00             45.00   246000.00   112500.00
50%        557.00         26000.00             57.00   828000.00   370000.00
75%        835.50         69000.00             71.00  2700000.00  1253500.00
max       1114.00        550000.00            155.00 39060000.00 13545000.00

       average_price  value_of_production    year
count        1115.00              1115.00 1115.00
mean          140.62           5667411.66 2007.74
std           107.01           9459460.46    7.82
min             1.30            106000.00 1995.00
25%            70.00           1008000.00 2001.00
50%           128.00           2281000.00 2008.00
75%           193.00           5704000.00 2015.00
max           874.00          83859000.00 2021.00

In [25]:
#Adding, Modifying & Dropping Data

In [26]:
df = pd.DataFrame({'Name': ['Alice','Bob'], 'Score': [85, 90]})
print(df)

    Name  Score
0  Alice     85
1    Bob     90

In [27]:
df['Passed'] = df['Score'] >= 90
print(df)

    Name  Score  Passed
0  Alice     85   False
1    Bob     90    True

In [28]:
df2 = df.assign(ScoreBonus = df['Score'] + 5)
print(df2)

    Name  Score  Passed  ScoreBonus
0  Alice     85   False          90
1    Bob     90    True          95

In [29]:
df.insert(1, 'NormalizedScore', df['Score'] / df['Score'].max())
print(df)

    Name  NormalizedScore  Score  Passed
0  Alice             0.94     85   False
1    Bob             1.00     90    True

In [30]:
#Conditional updates with loc

In [31]:
df = pd.DataFrame({'Age': [25, 35, 28], 'Score': [80, 90, 85]})
print(df)

   Age  Score
0   25     80
1   35     90
2   28     85

In [32]:
df.loc[df['Age'] < 30, 'Score'] += 5
print(df)

   Age  Score
0   25     85
1   35     90
2   28     90

In [33]:
#Vectorized string methods:

In [34]:
df = pd.DataFrame({'Name': ['alice','bob','charlie']})
df['Name'] = df['Name'].str.title()
print(df)

      Name
0    Alice
1      Bob
2  Charlie

In [35]:
#Type conversion:
df = pd.DataFrame({'DateString': ['2025-01-01','2025-02-15']})
df['Date'] = pd.to_datetime(df['DateString'])
print(df)

   DateString       Date
0  2025-01-01 2025-01-01
1  2025-02-15 2025-02-15

In [36]:
#Drop columns:
df = pd.DataFrame({'A':[1,2], 'B':[3,4], 'C':[5,6]})
print(df)
df_dropped = df.drop(columns=['B'])
print(df_dropped)

   A  B  C
0  1  3  5
1  2  4  6
   A  C
0  1  5
1  2  6

In [37]:
#Drop rows by index:
df = pd.DataFrame({'X':[10,20,30]}, index=['a','b','c'])
print(df)
df2 = df.drop(index=['b'])
print(df2)

    X
a  10
b  20
c  30
    X
a  10
c  30

In [38]:
#Filter-out rows via boolean mask:
df = pd.DataFrame({'Score':[60,85,70]})
print(df)
df = df[df['Score'] >= 70]
print(df)

   Score
0     60
1     85
2     70
   Score
1     85
2     70

In [39]:
#In-place modifications:
df = pd.DataFrame({'Unneeded':[1,2,3], 'Keep':[4,5,6]})
print(df)
df.drop('Unneeded', axis=1, inplace=True)
print(df)

   Unneeded  Keep
0         1     4
1         2     5
2         3     6
   Keep
0     4
1     5
2     6

In [40]:
df.isna()            # Boolean DataFrame of NaNs

    Keep
0  False
1  False
2  False

In [41]:
df.isna().sum()      # Count per column

Keep    0
dtype: int64

In [42]:
df.notna().sum()     # Non-missing counts

Keep    3
dtype: int64

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Keep    3 non-null      int64
dtypes: int64(1)
memory usage: 156.0 bytes

In [44]:
df['Keep'] = df['Keep'].fillna(0)            # constant
df['Keep'] = df['Keep'].fillna(df['Keep'].mean())  # column mean

In [45]:
df_drop_rows = df.dropna()                     # any NaN in row → drop row
df_drop_cols = df.dropna(axis=1, how='all')    # drop column if all values NaN

In [46]:
df_drop_rows = df.dropna()                     # any NaN in row → drop row
df_drop_cols = df.dropna(axis=1, how='all')    # drop column if all values NaN

In [47]:
df_thresh = df.dropna(thresh=3)                 # keep rows with >=3 non-NaN
df_subset = df.dropna(subset=['colA','colB'])   # drop if NaN in these cols

KeyError: ['colA', 'colB']

In [48]:
groups = honey.groupby('state')

In [49]:
print(groups.sum())

               Unnamed: 0  colonies_number  yield_per_colony  production  \
state
Alabama             14784           288000              1615    14467000
Arizona             14811           854000              1490    38844000
Arkansas            14838           908000              1886    51846000
California          14865         10135000              1426   423876000
Colorado            14892           799000              1520    32660000
Florida             14919          5528000              1956   280934000
Georgia             14946          1917000              1354    57426000
Hawaii              14973           296000              2802    15420000
Idaho               15000          2705000              1121    87188000
Illinois            15027           236000              1562     9864000
Indiana             15054           213000              1605     9686000
Iowa                15081           962000              1659    48607000
Kansas              15108           301000              1570    14138000
Kentucky            14731           113000              1260     3224000
Louisiana           15161          1066000              2506    60568000
Maine               15188           252000               888     4762000
Maryland             1708            48000               377     1975000
Michigan            15224          2168000              1753   101063000
Minnesota           15251          3498000              1885   176581000
Mississippi         15278           485000              2341    21235000
Missouri            15305           390000              1460    17904000
Montana             15332          3725000              2148   197173000
Nebraska            15359          1279000              1729    63655000
Nevada               4858           157000               700     7399000
NewJersey           15401           299000               958     6913000
NewMexico            6985           185000              1010    10082000
NewYork             15446          1588000              1745    78444000
NorthCarolina       15473           304000              1236     8909000
NorthDakota         15500         10710000              2266   513742000
Ohio                15527           449000              1763    22485000
Oklahoma             1834            40000               471     2055000
Oregon              15563          1594000              1145    43789000
Pennsylvania        15590           586000              1317    21370000
SouthCarolina        8538           148000               727     2823000
SouthDakota         15629          6639000              1950   355726000
Tennessee           15656           189000              1497     6857000
Texas               15683          2876000              1921   129441000
Utah                15710           719000              1130    20369000
Vermont             15737           149000              1674     7032000
Virginia            15764           170000              1097     5153000
Washington          15791          1709000              1255    53238000
WestVirginia        15818           179000              1245     6411000
Wisconsin           15845          1698000              1896    99909000
Wyoming             15872          1065000              1698    43921000

                  stocks  average_price  value_of_production   year
state
Alabama          2987000        4057.61             28668000  54216
Arizona         17758000        2978.77             59772000  54216
Arkansas        20897000        2870.45             73781000  54216
California     137611000        2954.06            653982000  54216
Colorado        18695000        3200.56             63844000  54216
Florida         47037000        2967.52            509670000  54216
Georgia          9932000        3260.68            145945000  54216
Hawaii           3508000        3719.13             49888000  54216
Idaho           40503000        2869.71            139536000  54216
Illinois         4957000        5842.43             36782000  54216
Indiana          5286000        4183.16             24658000  54216
Iowa            29351000        3341.75             87563000  54216
Kansas           7520000        3977.44             27970000  54216
Kentucky         1128000        5250.45             15427000  52212
Louisiana       12688000        2783.02            129601000  54216
Maine            2271000        4691.80             19842000  54216
Maryland          477000        1310.00              2735000  17991
Michigan        58401000        3311.97            217841000  54216
Minnesota       51908000        2887.89            310462000  54216
Mississippi      6799000        2776.70             59265000  54216
Missouri         4870000        3941.76             32372000  54216
Montana         91240000        2961.17            406563000  54216
Nebraska        38937000        3004.31            106998000  54216
Nevada           1935000        3068.00             14520000  30030
NewJersey        3311000        5262.74             28201000  54216
NewMexico        4561000        2197.00             11049000  36063
NewYork         42535000        3663.52            177921000  54216
NorthCarolina    3101000        5540.21             38645000  54216
NorthDakota    206707000        2863.08           1186219000  54216
Ohio            13269000        4417.38             59637000  54216
Oklahoma          693000        1203.00              2618000  17991
Oregon          28655000        3221.40            102109000  54216
Pennsylvania    11339000        4130.82             55153000  54216
SouthCarolina     486000        2111.96             26218000  24136
SouthDakota    218634000        2891.51            619095000  54216
Tennessee        2460000        5318.06             27276000  54216
Texas           41022000        2965.74            284720000  54216
Utah             6775000        3003.27             40157000  54216
Vermont          3489000        4689.46             19084000  54216
Virginia         1809000        6419.69             20925000  54216
Washington      28500000        3208.36            119823000  54216
WestVirginia     3034000        5162.20             18685000  54216
Wisconsin       59166000        3410.87            176442000  54216
Wyoming         11235000        2904.12             87502000  54216

In [50]:
agg = honey.groupby('state').agg(
    Total_production=('production','sum'),
    Average_production=('production','mean'),
    Max_production=('production','max')
)
print(agg)

               Total_production  Average_production  Max_production
state
Alabama                14467000           535814.81         1248000
Arizona                38844000          1438666.67         4108000
Arkansas               51846000          1920222.22         5655000
California            423876000         15699111.11        39060000
Colorado               32660000          1209629.63         2700000
Florida               280934000         10404962.96        25200000
Georgia                57426000          2126888.89         5100000
Hawaii                 15420000           571111.11         1314000
Idaho                  87188000          3229185.19         7680000
Illinois                9864000           365333.33          814000
Indiana                 9686000           358740.74          828000
Iowa                   48607000          1800259.26         3900000
Kansas                 14138000           523629.63         1207000
Kentucky                3224000           124000.00          280000
Louisiana              60568000          2243259.26         5472000
Maine                   4762000           176370.37          495000
Maryland                1975000           219444.44          308000
Michigan              101063000          3743074.07         8924000
Minnesota             176581000          6540037.04        13530000
Mississippi            21235000           786481.48         1575000
Missouri               17904000           663111.11         1848000
Montana               197173000          7302703.70        14030000
Nebraska               63655000          2357592.59         4875000
Nevada                  7399000           493266.67          854000
NewJersey               6913000           256037.04          539000
NewMexico              10082000           560111.11         1235000
NewYork                78444000          2905333.33         5880000
NorthCarolina           8909000           329962.96          714000
NorthDakota           513742000         19027481.48        35100000
Ohio                   22485000           832777.78         1760000
Oklahoma                2055000           228333.33          380000
Oregon                 43789000          1621814.81         3245000
Pennsylvania           21370000           791481.48         1620000
SouthCarolina           2823000           235250.00          810000
SouthDakota           355726000         13175037.04        28435000
Tennessee               6857000           253962.96          549000
Texas                 129441000          4794111.11         9964000
Utah                   20369000           754407.41         1740000
Vermont                 7032000           260444.44          623000
Virginia                5153000           190851.85          468000
Washington             53238000          1971777.78         3540000
WestVirginia            6411000           237444.44          590000
Wisconsin              99909000          3700333.33         8099000
Wyoming                43921000          1626703.70         3627000

In [51]:
# Filter groups with total sales > 350
filtered = honey.groupby('state').filter(lambda x: x['production'].sum() > 653000)
print(filtered)

      Unnamed: 0         state  colonies_number  yield_per_colony  production  \
0              0       Alabama            16000                58      928000
1              1       Arizona            52000                79     4108000
2              2      Arkansas            50000                60     3000000
3              3    California           420000                93    39060000
4              4      Colorado            45000                60     2700000
...          ...           ...              ...               ...         ...
1110        1110      Virginia             6000                40       79000
1111        1111    Washington            96000                32     1206000
1112        1112  WestVirginia             6000                43      136000
1113        1113     Wisconsin            42000                47      750000
1114        1114       Wyoming            38000                58      242000

       stocks  average_price  value_of_production  year
0       28000          62.00               575000  1995
1      986000          68.00              2793000  1995
2      900000          64.00              1920000  1995
3     4687000          60.00             23436000  1995
4     1404000          68.00              1836000  1995
...       ...            ...                  ...   ...
1110    79000           8.23              1975000  2021
1111  1206000           2.52              7741000  2021
1112   136000           4.80              1238000  2021
1113   750000           2.81              5547000  2021
1114   242000           2.07              4562000  2021

[1115 rows x 9 columns]

In [52]:
adjusted = honey.groupby('state')['production'].transform(lambda x: x - x.mean())
print(adjusted)

0        392185.19
1       2669333.33
2       1079777.78
3      23360888.89
4       1490370.37
           ...
1110    -111851.85
1111    -765777.78
1112    -101444.44
1113   -2950333.33
1114   -1384703.70
Name: production, Length: 1115, dtype: float64

In [53]:
new=honey[honey['state']=='Alabama']

In [54]:
new.to_csv('outpur.csv', index=False, na_rep='MISSING')

In [55]:
df_xl = pd.read_excel('report.xlsx',
                      sheet_name='Sheet1',
                      header=0,          # row for column names
                      usecols='A:C')     # select columns
print(df_xl.head())

FileNotFoundError: [Errno 2] No such file or directory: 'report.xlsx'

In [56]:
df_json = pd.read_json('data.json', orient='records')
print(df_json.info())

ValueError: If using all scalar values, you must pass an index

In [ ]:
df_json.to_json('out.json',
                orient='records',
                date_format='iso',
                indent=2)

In [ ]:
twostates=honey[honey['state'].isin(['Alabama', 'Arizona'])]

In [ ]:
twostates=twostates[['state', 'production', 'year']]

In [57]:
pivot_states=twostates.pivot(index='year', columns='state', values='production')

NameError: name 'twostates' is not defined

In [58]:
pivot_states

NameError: name 'pivot_states' is not defined

In [59]:
corr = honey[['production','colonies_number','yield_per_colony']].corr()
print(corr)

                  production  colonies_number  yield_per_colony
production              1.00             0.74              0.41
colonies_number         0.74             1.00              0.20
yield_per_colony        0.41             0.20              1.00

In [60]:
yoy = pivot_states.pct_change() * 100
print(yoy.head())

NameError: name 'pivot_states' is not defined

In [61]:
customers = pd.DataFrame({
    'CustomerID': [1,2,3],
    'Name': ['Alice','Bob','Charlie']
})
orders = pd.DataFrame({
    'OrderID': [101,102,103],
    'CustomerID': [1,2,2],
    'Amount': [250, 450, 125]
})
merged_inner = pd.merge(customers, orders, on='CustomerID')
print(merged_inner)

   CustomerID   Name  OrderID  Amount
0           1  Alice      101     250
1           2    Bob      102     450
2           2    Bob      103     125

In [62]:
merged_outer = pd.merge(customers, orders, on='CustomerID', how='outer')

In [63]:
print(merged_outer)

   CustomerID     Name  OrderID  Amount
0           1    Alice   101.00  250.00
1           2      Bob   102.00  450.00
2           2      Bob   103.00  125.00
3           3  Charlie      NaN     NaN

In [64]:
merged_left = pd.merge(customers, orders, on='CustomerID', how='left')

In [65]:
print(merged_left)

   CustomerID     Name  OrderID  Amount
0           1    Alice   101.00  250.00
1           2      Bob   102.00  450.00
2           2      Bob   103.00  125.00
3           3  Charlie      NaN     NaN

In [66]:
merged_right = pd.merge(customers, orders, on='CustomerID', how='right')

In [67]:
print(merged_right)

   CustomerID   Name  OrderID  Amount
0           1  Alice      101     250
1           2    Bob      102     450
2           2    Bob      103     125

In [68]:
mask = (honey['year'] >= 1995) & (honey['year'] <= 2000)

In [69]:
print(mask)

0        True
1        True
2        True
3        True
4        True
        ...
1110    False
1111    False
1112    False
1113    False
1114    False
Name: year, Length: 1115, dtype: bool

In [79]:
rangee = honey[(honey['year'] >= 1995) & (honey['year'] <= 2000)][['production']]

In [80]:
print(rangee)

     production
0        928000
1       4108000
2       3000000
3      39060000
4       2700000
..          ...
255      294000
256     2808000
257      378000
258     7560000
259     3627000

[260 rows x 1 columns]

In [83]:
states=honey[['state', 'production', 'year']]

In [85]:
states=states[(states['year'] >= 1995) & (states['year'] <= 2000)]

In [88]:
honey[(honey['year']>=2000) & (honey['year']<=2005)]

,Unnamed: 0,state,colonies_number,yield_per_colony,production,stocks,average_price,value_of_production,year
217,217,Alabama,16000,78,1248000,187000,59.00,736000,2000
218,218,Arizona,40000,59,2360000,1322000,73.00,1723000,2000
219,219,Arkansas,55000,93,5115000,3529000,57.00,2916000,2000
220,220,California,440000,70,30800000,11396000,58.00,17864000,2000
221,221,Colorado,29000,60,1740000,957000,62.00,1079000,2000
...,...,...,...,...,...,...,...,...,...
467,467,Virginia,8000,37,296000,59000,221.00,654000,2005
468,468,Washington,51000,55,2805000,1935000,106.00,2973000,2005
469,469,WestVirginia,8000,51,408000,102000,124.00,506000,2005
470,470,Wisconsin,64000,83,5312000,2922000,114.00,6056000,2005
471,471,Wyoming,40000,56,2240000,291000,87.00,1949000,2005